# Assignment 01 â€“ Python Basics (Variables & Strings)

## Part A: Variables (25 Questions)

### Question 1. Define what a variable is in Python. Give an example.

In [ ]:
# Variables are the storage containers that store various type of data. We can store different type of data such as integer, 
# floating point values, characters and other type of data. For example- 
a = 785 # Here there is a variable named 'a' which is holding an integer type of data

### Question 2. Create 3 variables x, y, and z with integer, float, and string values. Print their types.

In [2]:
x = 26
y = 23.05
z = "This is a String"
print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

26
23.05
This is a String
<class 'int'>
<class 'float'>
<class 'str'>

### Question 3. Swap the values of two variables without using a third variable.

In [1]:
a = 5
b = 10
print (f"Number 1 before swapping = {a}")
print (f"Number 2 before swapping = {b}")
a = a + b
b = a - b
a = a - b
print (f"Number 1 after swapping = {a}")
print (f"Number 2 after swapping = {b}")

Number 1 before swapping = 5
Number 2 before swapping = 10
Number 1 after swapping = 10
Number 2 after swapping = 5

### Question 4. Assign a single value to multiple variables in one line. Show with an example.

In [30]:
# To assign same value to diffrent variables we will use chain assignment 
a = b = c = d = 18
print(a,b,c,d)

18 18 18 18

### Qestion 5. Assign multiple values to multiple variables in one line. Show with an example.

In [31]:
# To assign multiple values to multiple variables in one line we use the concept of list
a, b, c, d = {1,2,3,4}
print(a,b,c,d)

1 2 3 4

### Question 6. Explain the difference between = and == with examples

In [22]:
# The difference between these rwo operators are that (==) operator is an comparison operator while (=) is an assignment 
# operator. 
# (==) This operator is used when when we need two compare to values or entities 
# (=) This operator is used when we need to assign a value to any variable or entitie.

a = 15; # Here the symbol is using to assign the value 15 to variable a
b = 45; # Here the symbol is using to assign the value 45 to variable b

c = print(a == b) # Here we are comparing that are these two values are same or not or equal or not

False

### Question 7. Write a program to calculate the area of a rectangle using variables length and breadth.

In [27]:
length = float(input("Enter the Length of Rectangle"))
breadth = float(input("Enter the Length of Breadth" ))
area = length * breadth
print(area)

Enter the Length of Rectangle 25
Enter the Length of Breadth 365

9125.0

### Question 8 Write a Python program to compute the average of three numbers stored in variables.

In [33]:
num1 = 52
num2 = 65
num3 = 51
average = (num1 + num2 + num3)/3
print(average)

56.0

### Question 9. Create variables a = 10 and b = 5. Perform addition, subtraction, multiplication, division, modulus, and floor division.

In [34]:
a = 10
b = 5
c = a + b # addition
print(c)
c = a - b #subtraction
print(c)
c = a * b #multiplication
print(c)
c = a / b #divison
print(c)
c = a % b #modulous
print(c)
c = a // b #floor divison
print(c)

15
5
50
2.0
0
2

### Question 10. What are constants? Explain with examples in Python.

In [ ]:
# Constants are the variables whose values cannot be change in the entire program. Their value remain unchanged. In Python
# there are not any predefined constants but the devlopers and gave them a naming conventions so that all can understanf
# that the values of this varivale cannot be changed.

# So to define an constant in pythin we need to type our varibale name in the all capital letters so that other devlopers
# can undersant that there values need or cannot be changed in entire program

PI = 3.14
WATT1 = 1

### Question 11 Define variable naming rules in Python with correct and incorrect examples.

In [35]:
# Variables are the storage containers that store data. But there are few rules that we need to imply while defining the 
# the varialbes.
# 1 - Varibales can only start from alphabets and underscores. A variable cannot be start from a number or special character
# 2 - Variables are case sensitive
# 3 - Variables cannot be keywords

#correct example
number = 2545
_alphabet = 14;

#incorrecr example
#print = 254;
#@shady = 854;

###  Question 12 What is the difference between local and global variables? Demonstrate with code.

In [37]:
# Local Variables are the variable that are defined and used locally and caanot be used in used in whole program but only 
# used in the certain block of code. Once the block is finished they are not in use.

# Global Variables are the variables that can be used and mainpulated in the entire program rather than specific block

a = 524  # Global variable
if a > 0:
    c = 25 # Local Variable

###  Question 13 Show an example of dynamic typing in Python.

In [38]:
# Dynamic Typing is a feature in Pyhton that allow user to type the variables without their datatype and the datatype is
# automatically determined at the runtime.

a = 854;
name = "This is a string"

###  Question 14 Explain type casting with an example of converting integer to float and string to integer.

In [39]:
# Type casting is a feature in pyhton that let the user change the datatype of a variable. It can be done implicit or explicit

a = 524; 
type(a)
float(a) # Type Casting happend and changed the int varaibe to float

524.0

### Question 15  Write a program to calculate simple interest using variables.

In [3]:
# Simple Intrest Calculator

principal = float(input("Enter the principal amount "))
intrest = 10
time = int(input("Enter the time ( 1 = 1 year)"))

simpleIntrest1 = (principal * intrest * time)/100

print("Simple Intrest = " , simpleIntrest1)

Enter the principal amount  50000
Enter the time ( 1 = 1 year) 2

Simple Intrest =  10000.0

###  Question 16 Store your name, age, and course name in variables. Print them using formatted string (f-string).

In [4]:
name = "Arnav"
course = "BCA"
age = 19
print(f"My name is {name} and my age is {age} and my course is {course}")

My name is Arnav and my age is 19 and my course is BCA

### Question 17 Write a program to swap two numbers using a temporary variable

In [5]:
a = 20
b = 10
temp = 0
print("Number 1 before swapping = " , a)
print("Number 2 before swapping = " , b)
temp = a
a = b
b = temp
print("Number 1 after swapping = " , a)
print("Number 2 after swapping = " , b)

Number 1 before swapping =  20
Number 2 before swapping =  10
Number 1 after swapping =  10
Number 2 after swapping =  20

### Question 18 . Explain mutable vs immutable objects. Which category does a string belong to?

In [6]:
# Mutable Objects are the objects whose values can be changed after the declaration.
# Example of mutable objects are list, dict, set etc

#Immutable objects are the objects which once declared than their values cannot be changed.\
# Example int, float, char etc

# String belongs to immutable category

### Question 19  Write a program to convert temperature from Celsius to Fahrenheit using variables.

In [1]:
celsius = float(input("Enter your temperature in celcius"))
fahrenheit = (celsius * 1.8) + 32

print(f"The temperature in Fahreneit = {fahrenheit}")

Enter your temperature in celcius 50

The temperature in Fahreneit = 122.0

### Question 20 . Create a variable radius. Calculate the area and circumference of a circle.

In [3]:
radius = int(input("Enter the radius of the circle"))
pi = 3.14
area =  pi * (radius * radius)
circumference = (2 * pi * radius)

print(f"The area of the circle is {area}")
print(f"The circumference of the circle is {circumference}")

Enter the radius of the circle 30

The area of the circle is 2826.0
The circumference of the circle is 188.4

### Question 21. Demonstrate concatenation of integer and string with type conversion.

In [12]:
age = 25
line = "My age is "
age2 = str(age)
output = line + age2
print(output)

My age is 25

### Question 22. What happens if you use an undefined variable in Python? Show an example.

In [20]:
# If we use an undefined variable in python we get an error named [undefined variable]
# Example
a = 15
c = a + b

### Question 23. Write a program to calculate the perimeter of a triangle using variables.

In [21]:
a = int(input("Please enter the length of 1st side"))
b = int(input("Please enter the length of 2nd side"))
c = int(input("Please enter the length of 3rd side"))
perimeter = a + b +c

print(f"The perimeter of the triangle is {perimeter}")

Please enter the length of 1st side 5
Please enter the length of 2nd side 2
Please enter the length of 3rd side 3

The perimeter of the triangle is 10

### Question 24. Store marks of 5 subjects in variables. Calculate and print total and percentage.

In [23]:
english = int(input("Enter marks in English out of 100"))
clang = int(input("Enter marks in C Language out of 100"))
dsa = int(input("Enter marks in DSA out of 100"))
dbms = int(input("Enter marks in DBMS out of 100"))
dtp = int(input("Enter marks in DTP out of 100"))
maxmarks = 500

total = english + clang + dsa + dbms + dtp
percentage = (total/maxmarks)*100

print(f"Total Marks of student is {total}")
print(f"Total Percentage of student is {percentage}")

Enter marks in English 50
Enter marks in C Language 65
Enter marks in DSA 24
Enter marks in DBMS 25
Enter marks in DTP 36

Total Marks of student is 200
Total Percentage of student is 40.0

### Question 25. Explain the difference between is and == operators with examples.

In [28]:
# The (is) operator is used to check wheteher two variables have same adresses or not
# The (==) operator is used to check where data in the both variable is same on not

a = 20
b = 10

e = print(id(a))
f = print(id(b))

c = print(a == b) #False because 20 is not equal to 10
d = print(a is b) # False beacuse both have diffrent address

140727374558728
140727374558408
False
False

## Part B: Strings (39 Questions)

### Question 26. Define what a string is in Python. Give 3 examples of string declarations.

In [29]:
# String is type of datatype that stores a set of characters or words which are stored in a variable

# single Quotes('')
a = 'This is a string'

#double Quotes("")
b = "This is a double quoted string"

#trippel Quote(''')
c = '''This is a tripple quoted string'''
print(a)
print(b)
print(c)

This is a string
This is a double quoted string
This is a tripple quoted string

### Question 27. Write a program to print your name in uppercase, lowercase, and title case.

In [31]:
name = "Arnav kudiyal"
result = name.upper()
print(result)
result2 = name.lower()
print(result2)
result3 = name.title()
print(result3)

ARNAV KUDIYAL
arnav kudiyal
Arnav Kudiyal

### Question 28. Find the length of a string using len()

In [1]:
a = "This is a String"
c = len(a)
print(c)

16

### Question 29 Concatenate two strings and print the result

In [2]:
a = "My name is " 
b = "Arnav"
c = a + b
print(c)

My name is Arnav

### Question 30. Extract the first 5 characters of the string "Unisole Empower".

In [9]:
a = "Unisole Empower"
print(a[0:5])

Uniso

### Question 31. Extract the last 4 characters of the string "DataScience"

In [16]:
a = "DataScience"
print(a[-4:-1])

enc

### Question 32. Write a program to reverse a string.

In [3]:
a = "Arnav"
rev = a[::-1]
print(rev)

vanrA

### Question 33. Check if a substring "Empower" exists in "Unisole Empower".

In [4]:
name = "Unisole Empower"
"Empower" in name

True

### Question 34.  Replace "Python" with "Data Science" in the string "I am learning Python"

In [7]:
a = "I am learning Python"
aa = a.replace("Python", "Data Science")
print(aa)

I am learning Data Science

### Question 35. Remove spaces from the string " Hello World ".

In [8]:
a = "Hello World"
b = a.replace(" ","")
print(b)

HelloWorld

### Question 36  Split the string "apple,banana,mango" into a list

In [10]:
a = "apple,banana,mango"
b = a.split(",")
print(b)

['apple', 'banana', 'mango']

### Questio 37  Join the list ["AI", "ML", "DL"] into a string with - separator.

In [11]:
a = ["AI", "ML", "DL"]
b = "-".join(a)
print(b)

AI-ML-DL

### Question 38 Write a program to count the number of vowels in a string

In [14]:
a = input("Enter your string")
count = 0
vowels = "aeiouAEIOUS"

for ch in a:
    if ch in vowels:
        count = count+1

print(count)

Enter your string Arnav

2

### Question 39  Check if a string is palindrome or no

In [16]:
a = input("Enter the word")
b = a[::-1]

if a == b:
    print("It is a palindrome")
else:
    print("It's not a plaindrome")

Enter the word DAD

It is a palindrome

### Question 40  Write a program to print each character of a string on a new line

In [18]:
a = "Arnav"
b = "\n".join(a)
print(b)

A
r
n
a
v

### Question 41  Convert "12345" (string) into integer and perform addition with another integer.

In [21]:
a = "12345"
b = int(a)
c = b + 12
print(c)

12357

### Question 42  Find the index of "E" in "Empower".

In [23]:
a = "Empower"
b = a.index("E")
print(b)

0

### Question 43 Use slicing to print characters from index 2 to 6 of "DataScience"

In [26]:
a = " Iamlearning Python"
b = a[2:6:1]
print(b)

amle

### Question 44 Demonstrate difference between single quotes, double quotes, and triple quotes.

In [28]:
a = 'Arnav'
b = " I don't know"
c = """ This will be
a multi line quote"""

print(a,b,c)

Arnav  I don't know  This will be
a multi line quote

### Question 45 . Format a string using the .format() method. Example: "My name is {}, I am {} years old"
.

In [30]:
a = "My name is {}, I am {} years old"
b = a.format("Arnav",19) 
print(b)

My name is Arnav, I am 19 years old

### Question 46 . Count how many times "a" appears in "banana".

In [32]:
a = "banana"
b = "a"
count =0

for ch in a:
    if ch in b:
        count = count + 1

print(count)

3

### Question 47  Write a program to check if a string starts with "Uni" and ends with "wer".

In [41]:
s = "Unisole Empower"

if s.startswith("Uni") and s.endswith("wer"):
    print("Yes")
else:
    print("No")

Yes

### Question 48 Explain string immutability with an example.

In [42]:
# Strings that cannot be changed after creation are callled Immuatble strings
#s = "Arnav"
#s[0] = "Y"

### Question 49 . Write a program to remove all digits from the string "Unisole123Empower456".

In [43]:
s = "Unisole123Empower456"
result = ""

for ch in s:
    if not ch.isdigit():  
        result += ch

print(result)

UnisoleEmpower

### Question 50  Write a program to check if a string contains only alphabets.

In [46]:
a = "Arnav"
if a.isalpha():
    print("Yes")
else:
    print("no")

Yes

## Question 51  Write a program to check if a string contains only digits.

In [48]:
a = "123451"
if a.isdigit():
    print("Yes")
else:
    print("No")

Yes

### Question 52 Create a multiline string and print it.

In [49]:
a = """ This will be
a multiline string"""
print(a)

 This will be
a multiline string

### Question 53 Write a program that takes a string input from the user and prints it in reverse.

In [50]:
a = input("Enter the string")
b = a[::-1]
print(b)

Enter the string Arnav

vanrA

### Question 54 Explain raw strings with an example.

In [51]:
# raw string don't see backslash as the escape sequence
a = r"\n\t"
print(a)

\n\t

### Question 55  Write a program to capitalize the first letter of each word in a string.

In [52]:
a = "hello world"
b = a.title()
print(b)

Hello World

### Question 56 Check if string is a valid email address.

In [58]:
a = input("Enter your email address: ")

if "@" in a and "." in a and "com" in a: 
    print("Valid email")
else:
    print("Invalid email")

Enter your email address:  arnav@gmauk.com

Valid email

### Question 57 Extract the protocol (http or https ) from a URL string.

In [59]:
url = "https://google.com"

if url.startswith("https"):
    print("Protocol: https")
elif url.startswith("http"):
    print("Protocol: http")

Protocol: https

### Questiom 58  Find the frequency of each character in a string

In [61]:
s = input("Enter a string: ")

freq = {}

for ch in s:
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1

print(freq)

Enter a string:  Arnav

{'A': 1, 'r': 1, 'n': 1, 'a': 1, 'v': 1}

### Question 59  Check if strings are anagrams.

In [62]:
s1 = input("Enter first string: ")
s2 = input("Enter second string: ")

if sorted(s1) == sorted(s2):
    print("They are anagrams")
else:
    print("They are NOT anagrams")

Enter first string:  Arnav
Enter second string:  Kudiyal

They are NOT anagrams

### Question 60 Find all unique words in a string.

In [63]:
s = input("Enter a string: ")

words = s.split()         
unique_words = set(words) 

print(unique_words)

Enter a string:  ARnav

{'ARnav'}

### Question 61  Remove the nth word from a string.

In [64]:
s = input("Enter a string: ")
n = int(input("Enter the position of the word to remove: "))

words = s.split()          

if 1 <= n <= len(words):   
    words.pop(n - 1)      
    result = " ".join(words)
    print("Result:", result)
else:
    print("Invalid")

Enter a string:  Arnav
Enter the position of the word to remove:  2

Invalid

### Question 62 Insert a word at the nth position in a string.

In [65]:
s = input("Enter the original string: ")
word = input("Enter the word to insert: ")
n = int(input("Enter the position to insert at: "))

words = s.split()     

if 1 <= n <= len(words) + 1:
    words.insert(n - 1, word)    
    result = " ".join(words)
    print("Result:", result)
else:
    print("Invalid position!")

Enter the original string:  Arnav
Enter the word to insert:  b
Enter the position to insert at:  2

Result: Arnav b